<div class="container">

  <h1>Stupid Coaching</h1>

  <div class="box-border">
    <p><%= @input %></p>
    <p>-You</p>
  </div>

  <div class="box-border reply">
    <p><%= @reply %></p>
    <p>-Your coach</p>

  </div>
  <%= link_to "Ask a new question", ask_path%>
</div>
